.section-separator {
  width: calc(100% + (var(--content-padding-x) * 2));
  margin: 8px calc(var(--content-padding-x) * -1);
  height: 16px;
  border-top: 1px dashed var(--zinc-700);
  border-bottom: 1px dashed var(--zinc-700);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    var(--zinc-700) 8px,
    var(--zinc-700) 9px
  );
  opacity: 0.65;
}
